{% extends "header_footer.html" %}
{% block title %}Index{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
<div class="container-fluid"><table class="table table-bordered table-striped table-hover">
    <thead><tr>
        {% for title in titles %}
        <th>{{title}}</th>
        {% endfor %}
    </tr></thead>
    {% for event in events %}
    <tr>
        <td>{{event.time.strftime("%Y-%m-%d %H:%M")}}</td>
        <td>{{event.student.name}}</td>
        <td>{{event.student.rfid_id}}</td>
    </tr>
    {% endfor %}
</table></div>
{% endblock content %}
